/* ----- Claro ----- */
.cor-tema-claro{
    background-color: white;
}
.cor-text-claro{
    color: black;
}
.cor-prim-claro{
    background-color: rgb(117, 24, 204);
}
.cor-sec-claro{
    background-color: rgb(141, 53, 226);
}
.cor-ter-claro{
    background-color: rgb(184, 107, 255);
}
@media only screen and (min-width: 650px){
    .cor-shadow-claro{
        box-shadow: inset 0vw 0vw 10vw 1vw rgb(184, 107, 255);
    }
}
@media only screen and (max-width: 650px){
    .cor-shadow-claro{
        box-shadow: inset 0vw 0vw 100vw -4vw rgb(184, 107, 255);
    }
}

/* ----- Escuro ----- */
.cor-tema-escuro{
    background-color: rgb(30, 30, 30);
}
.cor-text-escuro{
    color: white;
}
.cor-prim-escuro{
    background-color: black;
}
.cor-sec-escuro{
    background-color: rgb(117, 24, 204);
}
.cor-ter-escuro{
    background-color: rgb(40, 40, 40);
}
@media only screen and (min-width: 650px){
    .cor-shadow-escuro{
        box-shadow: inset 0vw 0vw 100vw 1vw black;
    }
}
@media only screen and (max-width: 650px){
    .cor-shadow-escuro{
        box-shadow: inset 0vw 0vw 40vw black;
    }
}