*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}
::-webkit-scrollbar{
    width: 0;
}
body{
    color: white;

/* ----- Header ----- */
}
#pageTitle{
    box-shadow: -0.2vw 0.2vw white, 0.2vw -0.2vw white;
}
a{
    text-decoration: none;
    color: white;
}
.menuItem:hover{
    box-shadow: -0.2vw 0.2vw blue, 0.2vw -0.2vw red;
}
/* ----- Main ----- */
.banner{
    background-color: rgba(0, 0, 0, 0.5);
}

/* ---------- Media Queries ---------- */

/* ----- Desktop ----- */
@media only screen and (min-width: 650px)
{
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* ----- Header ----- */
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 4vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    #title{
        font-size: 4vw;
    }
    #pageTitle{
        font-size: 2vw;
        padding: 0.5vw;
        border-radius: 5vw;
    }
    nav{
        width: 100vw;
        height: 5vw;
        position: absolute;
        top: 8vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 0;
        transition: all 0.3s ease, padding 0.7s ease, top 0s ease;
    }
    nav:hover{
        font-size: 1.5vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
    .navFixed{
        position: fixed;
        top: 0;
        z-index: 100;
    }
    #navItems{
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #navBr{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        font-size: 1vw;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
    }
    hr{
        width: 40vw;
    }
    .menuItem{
        border-radius: 5vw;
        transition: transform 0.3s ease, box-shadow 0.3s ease, padding 0.5s ease;
    }
    .menuItem:hover{
        transform: scale(1.2);
        padding: 0.5vw;
    }

    /* ----- Main ----- */
    main{
        width: 100vw;
        margin-top: 13vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1vw;
    }
    section{
        margin-top: 0.5vw;
        border-radius: 2vw;
        padding: 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
    }
    section h1{
        font-size: 2vw;
    }
    .sectionContainer{
        margin-top: 1vw;
        padding: 2vw;
        border-radius: 1vw;
        width: 75vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sectionContainer .logo{
        width: 10vw;
        border-radius: 0.5vw;
        transition: all 0.5s ease;
    }
    section:hover .sectionContainer .logo{
        transform: scale(1.4) rotate(360deg);
        border-radius: 0.7vw;
    }
    .bannerContainer{
        width: auto;
        height: auto;
        margin: auto;
    }
    .banner{
        width: 50vw;
    }
    .description{
        width: 75vw;
        text-align: justify;
        font-size: 1.3vw;
        padding: 2vw;
        border-radius: 1vw;
        margin-top: 1vw;
    }

    /* ----- Footer ----- */
    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 4vw;
        width: 100vw;
        font-size: 1.5vw;
    }
}

/* ---------- Mobile ---------- */
@media only screen and (max-width: 650px)
{
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* ----- Header ----- */
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 20vw;
    }
    #title{
        font-size: 10vw;
    }
    #pageTitle{
        font-size: 6vw;
        padding: 1.5vw;
        border-radius: 5vw;
        box-shadow: -0.5vw 0.5vw white, 0.5vw -0.5vw white;
    }
    nav{
        width: 100vw;
        height: 15vw;
        position: absolute;
        top: 20vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 0;
        transition: all 0.3s ease, padding 0.7s ease, top 0s ease;
    }
    nav:hover{
        font-size: 3vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
    .navFixed{
        position: fixed;
        top: 0;
        z-index: 100;
    }
    #navItems{
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #navBr{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        font-size: 1vw;
    }
    hr{
        width: 28vw;
    }
    .menuItem{
        border-radius: 5vw;
        transition: transform 0.3s ease, box-shadow 0.3s ease, padding 0.5s ease;
    }
    .menuItem:hover{
        transform: scale(1.2);
        padding: 1vw;
        box-shadow: -0.3vw 0.3vw blue, 0.3vw -0.3vw red;
    }

    /* ----- Main ----- */
    main{
        width: 100vw;
        margin-top: 35vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 6vw;
    }
    section{
        margin-top: 6vw;
        border-radius: 10vw;
        padding: 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
    }
    section h1{
        font-size: 7vw;
    }
    .sectionContainer{
        margin-top: 1vw;
        padding: 5vw;
        border-radius: 9vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease;
    }
    .sectionContainer .logo{
        width: 50vw;
        border-radius: 4vw;
        transition: all 0.5s ease;
    }
    .bannerMobileHTML{
        width: 80vw;
        height: 45vw;
    }
    .bannerMobileCSS{
        width: 80vw;
        height: 45vw;
    }
    .bannerMobileJS{
        width: 80vw;
        height: 45vw;
    }
    .description{
        width: 80vw;
        text-align: justify;
        font-size: 4vw;
        padding: 5vw;
        border-radius: 9vw;
        margin-top: 1vw;
    }

    /* ----- Footer ----- */
    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 25vw;
        width: 100vw;
        font-size: 3.5vw;
    }
}
